body{
    background-color: #ffeedd;
}

.container{
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-new{
    border-radius: 25px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin: 10px;
    width: 500px;
    transition: box-shadow .3s;

}

.card-new:hover {
    box-shadow: 0 0  5px 5px rgba(33,33,33,.2);
}

.side-square-wrapper{
    height: 150px;
    width: 17%;
    text-align: center;
    background-color: white;
    padding: 40px 4px;
    font-size: 16px;
    font-weight: bold;
    color:gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.custom-card-body{
    height: 150px;
    background-color: #DCDCDC;
    width: 83%;
    padding: 5px;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-body-heading{
    color:gray;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;

}

.post-text{
    overflow: hidden;
    white-space: normal;

    height: 4.8em;
    text-overflow: -o-ellipsis-lastline;
}

.trash-button{
    float: right;
    padding-right: 10px;
    size: 10px;
    cursor: pointer;
}

.ellipsis{
    margin-left: 370px;
    color: grey;
    cursor: pointer;
    padding-right: 120px;
    margin-bottom: 4px;
}


.trash-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin-top: 80%;
    padding: 0px;
    border: 1px solid #888;
    width: 30%;
    vertical-align: bottom;
}


